html, body {
  padding: 0;
  margin: 0;
  height: 100%; }

a, a:hover {
  text-decoration: none; }

ul {
  padding-left: 0;
  list-style: none; }

body {
  background: #87C7E1;
  font-family: 'Microsoft JhengHei',Arial,sans-serif;
  position: relative;
  font-size: 20px;
  margin-top: -100px; }

#section-1 {
  padding-top: 100px; }

.content {
  width: 80%;
  height: 75%;
  background: #fff;
  position: relative;
  left: -50px;
  right: 0;
  top: 10%;
  bottom: 0;
  margin: 6% auto; }
  .content:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #77B5C8;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: -1; }

section:nth-of-type(1) .content {
  top: 0; }

#content.container {
  width: 80%; }

.container {
  max-width: initial; }

#menu {
  position: fixed;
  right: 0;
  top: 10px;
  z-index: 1000; }
  #menu li {
    float: left;
    padding: 15px 70px;
    font-size: 26px;
    font-weight: bold; }
    @media screen and (max-width: 1440px) {
      #menu li {
        padding: 15px 60px;
        font-size: 22px; } }
    #menu li a {
      color: #000; }
      #menu li a:hover {
        background: url(../image/Menu-hover.png) no-repeat center 10px;
        background-size: 100%; }

.contact-title {
  margin-top: 3%;
  margin-left: 3%; }

.post {
  position: absolute;
  bottom: 15px;
  left: -10px; }

.contact {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 15%; }
  .contact img {
    position: absolute;
    top: 5%;
    left: 8%;
    width: 85%; }
    @media screen and (max-width: 1366px) {
      .contact img {
        width: 90%; } }
    @media screen and (max-width: 1280px) {
      .contact img {
        width: 95%; } }
  .contact form {
    position: absolute;
    top: 15%;
    left: 20%;
    z-index: 5; }

label {
  width: 100px;
  font-weight: bold;
  font-size: 20px; }
  @media screen and (max-width: 1280px) {
    label {
      font-size: 16px; } }

input, textarea {
  width: 75%;
  margin: 15px auto;
  border-width: 2px;
  border-color: #333333;
  vertical-align: middle; }
  @media screen and (max-width: 1680px) {
    input, textarea {
      width: 60%;
      margin: 5px auto; } }
  @media screen and (max-width: 1440px) {
    input, textarea {
      margin: 2px auto; } }

input[type=button], textarea[type=button] {
  border-width: 0;
  background: #3169AC;
  color: #fff;
  width: 200px;
  height: 50px; }
