html, body {
  padding: 0;
  margin: 0;
  height: 100%; }

a, a:hover {
  text-decoration: none; }

ul {
  padding-left: 0;
  list-style: none; }

body {
  background: #87C7E1;
  font-family: 'Microsoft JhengHei',Arial,sans-serif;
  position: relative;
  font-size: 20px;
  margin-top: -100px; }

#section-1 {
  padding-top: 100px; }

.content {
  width: 80%;
  height: 75%;
  background: #fff;
  position: relative;
  left: -50px;
  right: 0;
  top: 10%;
  bottom: 0;
  margin: 6% auto; }
  .content:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #77B5C8;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: -1; }

section:nth-of-type(1) .content {
  top: 0; }

#content.container {
  width: 80%; }

.container {
  max-width: initial; }

#menu {
  position: fixed;
  right: 0;
  top: 10px;
  z-index: 1000; }
  #menu li {
    float: left;
    padding: 15px 70px;
    font-size: 26px;
    font-weight: bold; }
    @media screen and (max-width: 1440px) {
      #menu li {
        padding: 15px 60px;
        font-size: 22px; } }
    #menu li a {
      color: #000; }
      #menu li a:hover {
        background: url(../image/Menu-hover.png) no-repeat center 10px;
        background-size: 100%; }

.home-photo, .home-intro {
  margin: auto; }
  @media screen and (max-width: 1024px) {
    .home-photo, .home-intro {
      display: none; } }

@media screen and (max-width: 1024px) {
  .home-intro {
    display: block; }
    .home-intro img {
      width: 75%; } }

.home-area {
  height: 100%; }

.Amy-comic {
  position: absolute;
  right: 4%;
  bottom: -10%; }
  @media screen and (max-width: 1680px) {
    .Amy-comic {
      right: 1%; }
      .Amy-comic img {
        width: 90%; } }
  @media screen and (max-width: 1440px) {
    .Amy-comic {
      right: -2%;
      bottom: -15%; }
      .Amy-comic img {
        width: 80%; } }
  @media screen and (max-width: 1280px) {
    .Amy-comic {
      right: -5%; }
      .Amy-comic img {
        width: 70%; } }
  @media screen and (max-width: 1024px) {
    .Amy-comic {
      right: -20%; }
      .Amy-comic img {
        width: 70%; } }

.home-intro p {
  position: absolute;
  width: 55%;
  top: 30%;
  left: 10%;
  font-size: 20px; }
  @media screen and (max-width: 1680px) {
    .home-intro p {
      top: 27%;
      left: 12%; } }
  @media screen and (max-width: 1440px) {
    .home-intro p {
      font-size: 16.66667px; } }
  @media screen and (max-width: 1280px) {
    .home-intro p {
      font-size: 15.38462px;
      width: 58%; } }
  @media screen and (max-width: 1024px) {
    .home-intro p {
      width: 45%;
      left: 8%; } }
